<launch>

    <arg name="primitive_topic" value="/primitives"/>

	<node pkg="primitive_extraction" type="extraction" name="extraction" output="screen">
	    <param name="octree_leaf_size" type="double" value="0.5"/>
	    <param name="normal_neigbourhood" type="double" value="0.04"/>
	    <param name="inlier_threshold" type="double" value="0.04"/>
	    <param name="angle_threshold" type="double" value="0.4"/>
	    <param name="error_add_probability" type="double" value="0.01"/>
	    <param name="min_inliers" type="int" value="2000"/>
	    <param name="min_terminate" type="int" value="2000"/>
	    <param name="connectedness_dist" type="double" value="0.03"/>
	    <param name="distance_threshold" type="double" value="4.0"/>
	    <param name="extract_planes" type="bool" value="true"/>
	    <param name="extract_cylinders" type="bool" value="false"/>
	    <param name="extract_spheres" type="bool" value="false"/>
	    <param name="input" type="string" value="cloud_pcd"/>
	    <param name="output" type="string" value="$(arg primitive_topic)"/>
    </node>
    
    <node pkg="primitive_extraction" type="primitives_to_markers" name="primitives_to_markers" output="screen">
        <param name="input" type="string" value="$(arg primitive_topic)"/>
        <param name="output" type="string" value="/primitive_marker_array"/>
    </node>

</launch>
